{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [game]}
]}.

{plugins, [
           {'lfe-compile',
            {git, "git://github.com/kek/lfe-rebar3-compile.git", {branch, "master"}}},
           {'lfe-test', ".*",
            {git, "https://github.com/kek/lfe-rebar3-test.git", {branch, "master"}}},
           {'lfe-repl',
            {git, "https://github.com/kek/lfe-rebar3-repl.git", {branch, "master"}}}
          ]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.
